<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net462" requireReinstallation="true" />
  <package id="log4net" version="2.0.10" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net462" />
  <package id="Prism.Ninject" version="7.1.0.431" targetFramework="net462" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net462" />
</packages>